*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header{
    height: 70px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a{
    margin-left: 30px;
    text-decoration: none;
    color: rgba(17,17,17,1);
}
.header a:hover{
    color:#449BC7 ;
}

.banner{
    margin-top: 10px;  
}
.banner img{
    width: 1350px; 
    
}
.content{
    margin-top: 20px;
    text-align: left; 
}
.content1{
    float: left;
    border: 2px solid gray;
    height: 400px;
    width: 20%;
}
.main{
    float: left;
    border: 2px solid gray;
    height: 400px;
    width: 58%;
    margin: 0 1%;
}
.content3{
    float: left;
    border: 2px solid gray;
    height: 400px;
    width: 20%;
}
.content1 h4{
    background: green;
    padding: 10px;
    text-align: center;
    margin: 10px;
    
}
.content1 a{
    text-decoration: none;
    line-height: 50px;
    text-align: left; 
}
.content3 h4{
    background: green;
    padding: 10px;
    text-align: center;
    margin: 10px;
}
.content3 a{
    text-decoration: none;
    line-height: 50px;
    text-align: left; 
}
.box1{
    border: 4px solid gray;
    height: 200px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    float: left;
    background: #F5F5F5;
}
.footer{
    height: 60px;
    background: #EBEBEB;
    width: 100%;
    float: left;
    margin-top: 40px;
}
.footer p{
    line-height: 60px;
    text-align: center;
    font-size: 13px;

}